$tag-cloud-start      = #aaa;
$tag-cloud-end        = #111;
$tag-cloud-start-dark = #555;
$tag-cloud-end-dark   = #eee;

$content-desktop         = 90%
$content-desktop-large   = 90%
$content-desktop-largest = 90%